.nav-wrapper {
    background-color: rgb(221, 212, 195);
  }
  
.header__logo{
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }
.right a {
    color: black;
    font-size: 1.25rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 50px;
    text-align: center;
}